.send-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  margin: auto;
}

.input-field {
  margin-bottom: 20px;
}

.button {
  background-color: black;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.remaining-time {
  margin-top: 20px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .send-code-container {
    width: 90%;
  }
}
