.formation {
    width: 420px;
    /* height: 31.3vw; */
    height: 600px;
    /* background-image: url(https://velog.velcdn.com/images%2Fqnrl3442%2Fpost%2F733d5e03-5531-4e99-98e6-6f9a05c26c15%2Fformation.png); */
    background-image: url(../img/축구장.png);
    background-size: cover;
    /* margin: 1%; */
    border: 2px solid black;
    margin-left: 3%;
    margin-right: 3%;
  }
  /* .button {
    width:70px;
    height:90px;
    border-radius:75px;
    text-align:center;
    font-size:30px;
    vertical-align:middle;
    line-height:50px;
    position: absolute;
    cursor: grab;
  } */
  .hexagon {
    background-image: url("./123.png");
    width:70px;
    height:90px;
    text-align:center;
    margin:0 auto;
    font-size:15px bold; 
    vertical-align:middle;
    line-height:50px;
    cursor: grab;
    position: absolute;
  }
  .hexagon:hover{
    background-image: url("./124.png");
  }